
<div class="stack-fill">
  
  <div class="content-shell">
    
    <div class="sidebar-shell">
      <%= render partial: "member/profile", locals: { member: @member } %>
    </div>
    <div class="flex-1">
      
      <%= render partial: "member/nav", locals: { member: @member } %>
      <div class="px-0 lg:px-6 py-6">
        <ol class="relative border-s border-gray-200 dark:border-gray-700">
          <% unless @events.nil? %>
            <% @events.each do |event| %>
              <%= render partial: "member/timeline/activity", locals: { event: event } %>
            <% end %>
          <% end %>
        </ol>
      </div>
    </div>
    <div class="sidebar-panel">
      
    </div>
  </div>
</div>
