
<div class="sidebar-stack-fill">
  
  <div class="sidebar-content-shell">
    
    <div class="sidebar-shell">
      <%= render partial: "member/profile", locals: { member: @member } %>
    </div>
    <div class="flex-1">
      
      <%= render partial: "member/nav", locals: { member: @member } %>
      <div class="timeline-list-wrap">
        <ol class="timeline-list-track">
          <% unless @events.nil? %>
            <% @events.each do |event| %>
              <%= render partial: "member/timeline/activity", locals: { event: event } %>
            <% end %>
          <% end %>
        </ol>
      </div>
    </div>
    <div class="sidebar-panel">
      
    </div>
  </div>
</div>
