

<div class="stack-fill">
  
  <div class="content-shell">
    
    <div class="sidebar-shell"><%= render partial: "candidate/profile", locals: { candidate: @candidate } %></div>

    <div class="flex-1">
      
      <%= render partial: "candidate/nav", locals: { candidate: @candidate } %>
      <div class="px-0">
        <iframe
          src="https://www.crownstack.com/pdfs/cs-mission-and-vision-statement.pdf"
          width="780"
          height="780"
          style="border: none;"
          title="Crownstack Mission and Vision Statement"
        ></iframe>
      </div>
    </div>

    <div class="sidebar-panel">
      
    </div>
  </div>
</div>
