<div class="sidebar-stack-fill">
  <div class="sidebar-content-shell">
    <div class="sidebar-shell"><%= render partial: "candidate/profile", locals: { candidate: @candidate } %></div>

    <div class="flex-1">
      <%= render partial: "candidate/nav", locals: { candidate: @candidate } %>
    </div>

    <div class="sidebar-panel"></div>
  </div>
</div>
