
<div class="sidebar-stack-fill">
  
  <div class="sidebar-content-shell">
    
    <div class="sidebar-shell">
      <%= render partial: "opening/profile", locals: { opening: @opening } %>
    </div>
    <div class="flex-1">
      
      <%= render partial: "opening/nav", locals: { opening: @opening } %>
    </div>
    <div class="sidebar-panel">
      
    </div>
  </div>
</div>
