
<div class="sidebar-stack-fill">
  
  <div class="sidebar-content-shell">
    
    <div class="sidebar-shell">
      <%= render partial: "opening/profile", locals: { opening: @opening } %>
    </div>
    <div class="flex-1">
      
      <%= render partial: "opening/nav", locals: { opening: @opening } %>
      <div class="p-6 text-sm">
        <%= @opening.note %>
      </div>
    </div>
    <div class="sidebar-panel">
      
      <div>
        <h5 class="panel-title">Edit Internal Note </h5>
        <p class="text-muted-sm-spaced">Intenal note is a note which is visible to recruitment team members internally. </p>
        <div class="flex space-x-2">
          <a type="button" href="<%= edit_opening_note_path(@opening, @opening) %>"
                class="btn-primary">
            Edit Note
          </a>

        </div>
      </div>
    </div>
  </div>
</div>
