<div class="border-b border-gray-200">
  <dl class="grid grid-cols-1 overflow-hidden bg-white divide-y divide-gray-200 md:grid-cols-4 md:divide-y-0 md:divide-x">
    <div class="section-pad">
      <dt class="report-stat-value">
        Total
      </dt>
      <div class="metrics-row">
        <%= stats.total %>
      </div>
    </div>
  </dl>
</div>
