<main class="report-settings-shell">
  <div class="report-settings-grid">
    <%= render "shared/settings_menu" %>
    <main class="report-settings-content">
      <%= turbo_frame_tag "password_form" do %>
        <%= render "user/forms/password", user: @user %>
      <% end %>
    </main>
  </div>
</main>
