<div class="py-8 px-4 mx-auto max-w-4xl lg:py-8 text-sm">
  <div class="w-24 mb-8">
    <a href="/public/openings"><%= image_tag Account.first.logo.variant(resize_to_limit: [96, 96]), class: "w-24 h-24 rounded-full object-cover", alt: "#{Account.first.company_name} logo" if Account.first.logo.attached? %></a>
  </div>

  <p class="text-sm font-semibold leading-7 text-red-600">JOB DESCRIPTION</p>

  <h2 class="pb-4 text-2xl font-bold tracking-tight text-gray-900 sm:text-4xl"><%= @opening.title %></h2>

  <div class="text-sm"><%= @opening.description %></div>

  <% if @opening.active? %>
  <% else %>
    <div class="flex items-center p-4 mb-4 text-sm text-yellow-800 border border-yellow-300 rounded-sm bg-yellow-50 dark:bg-gray-800 dark:text-yellow-300 dark:border-yellow-800" role="alert">
      <%= svg_icon("info-circle", class_name: "shrink-0 inline w-4 h-4 me-3") %>
      <span class="sr-only">Info</span>

      <div><span class="font-medium">Alert!</span> This job opening is not active right now and we are no longer accepting applications.</div>
    </div>
  <% end %>
</div>
