
<div class="stack-fill">
  
  <div class="content-shell">
    
    <div class="sidebar-shell">
      <%= render partial: "candidate/profile", locals: { candidate: @candidate } %>
    </div>
    <div class="flex-1">
      
      <%= render partial: "candidate/nav" %>
      <%= render partial: "candidate/notes/form", locals: { note: @note } %>
      <%= render partial: "candidate/notes/notes", locals: { notes: @notes } %>
    </div>
    <div class="sidebar-panel">
      
    </div>
  </div>
</div>
