<div id="openings" class="mx-auto max-w-screen-xl px-4 py-10 sm:px-6 lg:px-8 lg:py-8 2xl:max-w-screen-2xl">
  <div class="mx-auto max-w-screen-md text-center">
    <div class="w-24 mb-4 mx-auto">
      <a href="https://www.crownstack.com">
        <%= svg_icon("crownstack-logo", class_name: "w-24") %>
      </a>
    </div>

    <h2 class="mb-4 text-4xl font-extrabold tracking-tight text-gray-900 dark:text-white">Our Team</h2>

    <p class="mb-8 text-gray-800 dark:text-gray-400 sm:text-xl md:text-lg lg:mb-8">Check out our amazing team members with whom you might get a chance to work with.</p>
  </div>

  <!-- Grid -->
  <div class="grid gap-4 sm:grid-cols-2 sm:gap-4 md:grid-cols-3 xl:grid-cols-4"><%= render partial: "card", collection: @members, as: :member %></div>
</div>
