
<div class="stack-fill">
  
  <div class="content-shell">
    
    <div class="sidebar-shell">
      <%= render partial: "member/profile", locals: { member: @user } %>
    </div>
    <div class="flex-1">
      
      <%= render partial: "member/nav", locals: { member: @user } %>
    </div>
    <div class="shrink-0 border-t border-gray-200 px-4 py-6 sm:px-6 lg:w-80 lg:border-l lg:border-t-0 lg:pr-8 xl:pr-6">
      
    </div>
  </div>
</div>
